In [19]:
# Pandas
import pandas as pd

In [20]:
y2019001='JC-201901-citibike-tripdata.csv'
y2019002='JC-201902-citibike-tripdata.csv'
y2019003='JC-201903-citibike-tripdata.csv'
y2019004='JC-201904-citibike-tripdata.csv'
y2019005='JC-201905-citibike-tripdata.csv'
y2019006='JC-201906-citibike-tripdata.csv'
y201907='JC-201907-citibike-tripdata.csv'
y201908='JC-201908-citibike-tripdata.csv'
y201909='JC-201909-citibike-tripdata.csv'
y201910='JC-201910-citibike-tripdata.csv'
y201911='JC-201911-citibike-tripdata.csv'
y201912='JC-201912-citibike-tripdata.csv'
y202001='JC-202001-citibike-tripdata.csv'
y202002='JC-202002-citibike-tripdata.csv'
y202003='JC-202003-citibike-tripdata.csv'
y202004='JC-202004-citibike-tripdata.csv'
y202005='JC-202005-citibike-tripdata.csv'
y202006='JC-202006-citibike-tripdata.csv'
y202007='JC-202007-citibike-tripdata.csv'
y202008='JC-202008-citibike-tripdata.csv'
y202009='JC-202009-citibike-tripdata.csv'
y202010='JC-202010-citibike-tripdata.csv'
y202011='JC-202011-citibike-tripdata.csv'
y202012='JC-202012-citibike-tripdata.csv'

In [21]:
dty201901= pd.read_csv(y2019001)
dty201902= pd.read_csv(y2019002)
dty201903= pd.read_csv(y2019003)
dty201904= pd.read_csv(y2019004)
dty201905= pd.read_csv(y2019005)
dty201906= pd.read_csv(y2019006)
dty201907= pd.read_csv(y201907)
dty201908= pd.read_csv(y201908)
dty201909= pd.read_csv(y201909)
dty201910= pd.read_csv(y201910)
dty201911 = pd.read_csv(y201911)
dty201912 = pd.read_csv(y201912)
dty202001= pd.read_csv(y202001)
dty202002= pd.read_csv(y202002)
dty202003= pd.read_csv(y202003)
dty202004= pd.read_csv(y202004)
dty202005= pd.read_csv(y202005)
dty202006= pd.read_csv(y202006)
dty202007= pd.read_csv(y202007)
dty202008= pd.read_csv(y202008)
dty202009= pd.read_csv(y202009)
dty202010= pd.read_csv(y202010)
dty202011= pd.read_csv(y202011)
dty202012= pd.read_csv(y202012)

In [22]:
fulldata1 = dty201901.append(dty201902)
fulldata2 = fulldata1.append(dty201903)
fulldata3 = fulldata2.append(dty201904)
fulldata4 = fulldata3.append(dty201905)
fulldata5 = fulldata4.append(dty201906)
fulldata6 = fulldata5.append(dty201907)
fulldata7 = fulldata6.append(dty201908)
fulldata8 = fulldata7.append(dty201909)
fulldata9 = fulldata8.append(dty201910)
fulldata10 = fulldata9.append(dty201911)
fulldata11 = fulldata10.append(dty201912)
fulldata12 = fulldata11.append(dty202001)
fulldata13 = fulldata12.append(dty202002)
fulldata14 = fulldata13.append(dty202003)
fulldata15 = fulldata14.append(dty202004)
fulldata16 = fulldata15.append(dty202005)

fulldata17 = fulldata16.append(dty202006)
fulldata18 = fulldata17.append(dty202007)
fulldata19 = fulldata18.append(dty202008)
fulldata20 = fulldata19.append(dty202009)
fulldata21 = fulldata20.append(dty202010)
fulldata22 = fulldata21.append(dty202011)

fulldata = fulldata22.append(dty202012)
fulldata

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [24]:
dtable2_duplicate = fulldata[fulldata.duplicated()]
print(dtable2_duplicate)

       tripduration                 starttime                  stoptime  \
0               156  2020-10-01 00:02:40.2600  2020-10-01 00:05:17.0140
1               143  2020-10-01 00:02:53.5020  2020-10-01 00:05:16.9650
2               305  2020-10-01 00:04:31.3160  2020-10-01 00:09:36.3840
3              1097  2020-10-01 00:05:18.3680  2020-10-01 00:23:36.1240
4               277  2020-10-01 00:09:17.5990  2020-10-01 00:13:55.5150
...             ...                       ...                       ...
13449           270  2020-10-13 15:05:35.0860  2020-10-13 15:10:05.3430
13452           400  2020-10-13 15:09:03.4890  2020-10-13 15:15:43.9750
13455           206  2020-10-13 15:11:34.3500  2020-10-13 15:15:00.5030
13456           216  2020-10-13 15:11:49.1510  2020-10-13 15:15:25.6930
13457           418  2020-10-13 15:12:31.7920  2020-10-13 15:19:30.5280

       start station id start station name  start station latitude  \
0                  3186      Grove St PATH               40.719586
1                  3186      Grove St PATH               40.719586
2                  3273       Manila & 1st               40.721651
3                  3199       Newport Pkwy               40.728745
4                  3199       Newport Pkwy               40.728745
...                 ...                ...                     ...
13449              3207        Oakland Ave               40.737604
13452              3209       Brunswick St               40.724176
13455              3195            Sip Ave               40.730897
13456              3195            Sip Ave               40.730897
13457              3267       Morris Canal               40.712419

       start station longitude  end station id       end station name  \
0                   -74.043117            3270        Jersey & 6th St
1                   -74.043117            3270        Jersey & 6th St
2                   -74.042884            3269        Brunswick & 6th
3                   -74.032108            3281    Leonard Gordon Park
4                   -74.032108            3638          Washington St
...                        ...             ...                    ...
13449               -74.052478            3640         Journal Square
13452               -74.050656            3209           Brunswick St
13455               -74.063913            3194        McGinley Square
13456               -74.063913            3225  Baldwin at Montgomery
13457               -74.038526            3186          Grove St PATH

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.725289             -74.045572   42293  Subscriber
1                 40.725289             -74.045572   44740  Subscriber
2                 40.726012             -74.050389   41369  Subscriber
3                 40.745910             -74.057271   42285    Customer
4                 40.724294             -74.035483   45231  Subscriber
...                     ...                    ...     ...         ...
13449             40.733670             -74.062500   44744  Subscriber
13452             40.724176             -74.050656   45345  Subscriber
13455             40.725340             -74.067622   47019  Subscriber
13456             40.723659             -74.064194   42191  Subscriber
13457             40.719586             -74.043117   47255  Subscriber

       birth year  gender
0            1996       1
1            1998       1
2            1988       2
3            2001       1
4            1965       1
...           ...     ...
13449        1963       2
13452        1984       1
13455        1993       1
13456        1966       1
13457        1991       1

[13451 rows x 15 columns]

In [25]:
fulldata.to_csv('2019-2020.csv', encoding='utf-8', index=False)